.container {
    max-width: 960px;
    margin: auto;
}

/*Top Banner Start*/

#banner {
    height: 100px;
    background-color: #ffeab9;
}

.logo {
    float: left;
}

.logo img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.account {
    float: right;
}

#login {
    float: none;
    text-align: right;
    margin-top: 60px;
}

#signin {
    float:none;
    text-align: right;
    margin-top: 60px;
    margin-right: 5px;
}

.homename {
    position: relative;
    line-height: 30%;
    margin-top: 30px;
    font-size: 50px;
    color: #ff4e13;
    font-family: Verdana;
    text-align: center;
}

#homename1 {
    position: relative;
    right: 40px;
}

#homename2 {
    position: relative;
    left: 40px;
}

/*Top Banner's End*/


/*#menubar ul {*/

    /*list-style: none;*/
    /*background-color: #5d3016;*/
    /*text-align: justify;*/
/*}*/

/*#menubar ul li{*/
    /*display: inline-block;*/
    /*background-clor: #5d3016;*/
    /*color: white;*/
    /*font-size: 20px;*/
/*}*/

